@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --clr-cyan: #26baa4;
  --clr-hover-cyan: #40c3af;
  --clr-light-blue: #6173ff;
  --clr-hover-blue: #7181ff;
  --clr-grey: #4c545d;
  --clr-grey-light: #9fabb2;
  --clr-white: #fff;
  --body-font: "Bai Jamjuree", sans-serif;
  --body-font-size: clamp(1.6rem, 1.5296rem + 0.1878vw, 1.8rem);
  --body-line-height: 1.5;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --transition: 0.3s all ease-in;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  font-weight: var(--fw-regular);
  line-height: var(--body-line-height);
  color: var(--clr-grey-light);
}

h1,
h2,
h3,
h4 {
  color: var(--clr-grey);
  font-weight: var(--fw-semibold);
}

h1 {
  font-size: clamp(3.2rem, 2.7775rem + 1.1268vw, 4.4rem);
}

h2 {
  font-size: clamp(2.8rem, 2.5535rem + 0.6573vw, 3.5rem);
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

/*************************/
/** REUSABLE COMPONENTS **/
/*************************/
.container {
  max-width: 1280px;
  padding: 0 8rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  cursor: pointer;
  width: 22.7rem;
  height: 5.2rem;
  color: var(--clr-white);
  font-weight: var(--fw-medium);
  letter-spacing: 0.5px;
  border-radius: 5rem;
  transition: var(--transition);
}
.btn-ios {
  background-color: var(--clr-cyan);
  margin-left: auto;
  margin-right: 0.8rem;
  box-shadow: 0 4px 0px rgba(27, 130, 115, 0.7), 0 20px 20px rgba(38, 186, 164, 0.2);
}
.btn-ios:hover {
  background-color: var(--clr-hover-cyan);
}
.btn-mac {
  background-color: var(--clr-light-blue);
  margin-right: auto;
  margin-left: 0.8rem;
  box-shadow: 0 4px 0px rgba(58, 69, 153, 0.8), 0 20px 20px rgba(97, 115, 255, 0.2);
}
.btn-mac:hover {
  background-color: var(--clr-hover-blue);
}

.img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.subtitle {
  max-width: 60%;
}

.text-center {
  text-align: center;
}

/*************************/
/**        HERO         **/
/*************************/
h1,
h2,
.logo,
.subtitle,
.snippets-features,
.access-img {
  grid-column: 1/-1;
}

.hero-section {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding: 12.7rem 0 15.1rem;
}
.hero-subtitle {
  font-size: clamp(1.6rem, 1.4592rem + 0.3756vw, 2rem);
  margin-bottom: clamp(3.5rem, 3.0423rem + 1.2207vw, 4.8rem);
}

.logo {
  width: 12.5rem;
  height: 12.5rem;
}

h1 {
  margin: 5.5rem 0 1.2rem;
}

/*************************/
/**      SNIPPETS       **/
/*************************/
.snippets-section {
  margin-bottom: 14.7rem;
}
.snippets-subtitle {
  line-height: 1.6;
  margin-bottom: clamp(6rem, 5.2254rem + 2.0657vw, 8.2rem);
}
.snippets-img {
  margin-left: -20rem;
}
.snippets-list {
  padding: 0 10rem;
  text-align: left;
}
.snippets-list__title {
  margin-bottom: 0.2rem;
}
.snippets-list div:not(:last-child) {
  margin-bottom: 6rem;
}
.snippets-list p {
  font-size: 1.6rem;
  line-height: 2;
}

/*************************/
/**       ACCESS        **/
/*************************/
.access-section {
  margin-bottom: 6.9rem;
}
.access-subtitle {
  line-height: 1.65;
  margin-bottom: clamp(5rem, 3.2394rem + 4.6948vw, 10rem);
}

/*************************/
/**     SUPERCHARGE     **/
/*************************/
.supercharge-section .grid {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  align-items: start;
}

article {
  flex-direction: column;
  margin-top: 7.5rem;
}
article h3 {
  margin-bottom: 1.2rem;
}
article p {
  font-size: 1.6rem;
  line-height: 1.85;
}

.icon {
  height: 3.2rem;
  margin-bottom: 4.3rem;
}

/*************************/
/**        LOGOS        **/
/*************************/
.logos-section {
  padding: 15.9rem 0 15.5rem;
}
.logos-container.flex {
  justify-content: space-between;
}

/*************************/
/**      DOWNLOAD       **/
/*************************/
.download-section {
  padding-bottom: 15rem;
}
.download-subtitle {
  margin-bottom: clamp(4rem, 3.5775rem + 1.1268vw, 5.2rem);
}

.attribution {
  position: fixed;
  bottom: 0;
  padding: 1rem 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/*************************/
/**       QUERIES       **/
/*************************/
@media screen and (max-width: 1120px) {
  .snippets-features {
    flex-direction: column;
    gap: 10rem;
  }
  .snippets-img {
    margin-left: 0;
  }
}
@media screen and (max-width: 907px) {
  .container {
    padding-left: clamp(2.4rem, 0.4282rem + 5.2582vw, 8rem);
    padding-right: clamp(2.4rem, 0.4282rem + 5.2582vw, 8rem);
  }
  .subtitle {
    max-width: 100%;
  }
  .btn-ios, .btn-mac {
    display: grid;
    grid-column: 1/-1;
    margin: 1.5rem 0;
  }
  .supercharge-section .container article {
    display: grid;
    justify-items: center;
    grid-column: 1/-1;
    max-width: clamp(30rem, 22.9577rem + 18.7793vw, 50rem);
  }
  .logos-container {
    flex-wrap: wrap;
    gap: 6rem;
  }
}
@media screen and (max-width: 600px) {
  .btn-ios, .btn-mac {
    width: 100%;
  }
  .snippets-features {
    gap: 6rem;
  }
  .snippets-list {
    padding: 0;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .hero-section {
    background-image: url(../images/bg-header-mobile.png);
  }
  .logos-container {
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */