@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-cyan: #26baa4;
  --clr-hoverCyan: #40c3af;
  --clr-light-blue: #6173ff;
  --clr-hoverBlue: #7181ff;
  --clr-grey: #4c545d;
  --clr-grey-light: #9fabb2;
  --clr-white: #fff;

  --headingFont: 'Bai Jamjuree', sans-serif;
  --bodyFont: 'Bai Jamjuree', sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --transition: 0.3s all ease-in;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--headingFont);
  font-size: 1.8rem;
  font-weight: var(--fw-400);
  line-height: 1.5;
  color: var(--clr-grey-light);
}

h1,
h2,
h3,
h4 {
  color: var(--clr-grey);
  font-weight: var(--fw-600);
}

h1 {
  font-size: 4.2rem;
  letter-spacing: 1.2px;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

/*************************/
/** REUSABLE COMPONENTS **/
/*************************/

.container {
  max-width: 1280px;
  padding: 0 8rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;

  &-2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &-3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

.btn {
  cursor: pointer;
  width: 22.7rem;
  height: 5.6rem;
  color: var(--clr-white);
  font-weight: var(--fw-500);
  letter-spacing: 0.5px;
  border-radius: 5rem;
  transition: var(--transition);

  &-ios {
    background-color: var(--clr-cyan);
    margin-left: auto;
    margin-right: 0.8rem;
    box-shadow: 0 4px 0px rgb(27, 130, 115, 0.8);

    &:hover {
      background-color: var(--clr-hoverCyan);
    }
  }

  &-mac {
    background-color: var(--clr-light-blue);
    margin-right: auto;
    margin-left: 0.8rem;
    box-shadow: 0 4px 0px rgb(58, 69, 153, 0.8);

    &:hover {
      background-color: var(--clr-hoverBlue);
    }
  }
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.subtitle {
  max-width: 60%;
}

.center-v {
  text-align: center;
}

/*************************/
/**        HERO         **/
/*************************/

h1,
h2,
.logo,
.subtitle,
.snippets-features,
.access-img {
  grid-column: 1 / -1;
}

.hero {
  &-section {
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    padding: 13rem 0 14.7rem;
  }

  &-subtitle {
    font-size: 2rem;
    margin-bottom: 4.8rem;
  }
}

.logo {
  width: 12.5rem;
  height: 12.5rem;
}

h1 {
  margin-top: 5.5rem;
  margin-bottom: 1.2rem;
}

/*************************/
/**      SNIPPETS       **/
/*************************/

.snippets {
  &-section {
    margin-bottom: 14.7rem;
  }

  &-subtitle {
    line-height: 1.6;
    margin-bottom: 8rem;
  }

  &-img {
    margin-left: -20rem;
  }

  &-list {
    padding: 0 10rem;
    text-align: left;
  }

  &-list__title {
    margin-bottom: 0.2rem;
  }

  &-list div:not(:last-child) {
    margin-bottom: 6rem;
  }

  &-list p {
    font-size: 1.6rem;
    line-height: 2;
  }
}

/*************************/
/**       ACCESS        **/
/*************************/

.access {
  &-section {
    margin-bottom: 6.9rem;
  }

  &-subtitle {
    line-height: 1.65;
    margin-bottom: 10rem;
  }
}

/*************************/
/**     SUPERCHARGE     **/
/*************************/

.supercharge {
  &-section .container {
    column-gap: 4rem;
    align-items: start;
  }
}

article {
  flex-direction: column;
  margin-top: 7.5rem;

  h3 {
    margin-bottom: 1.2rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.85;
  }
}

.icon {
  height: 3.2rem;
  margin-bottom: 4.3rem;
}

/*************************/
/**        LOGOS        **/
/*************************/

.logos {
  &-section {
    padding: 16rem 0;
  }

  &-container {
    justify-content: space-between;
  }
}

/*************************/
/**      DOWNLOAD       **/
/*************************/

.download {
  &-section {
    padding-bottom: 15rem;
  }

  &-subtitle {
    margin-bottom: 5rem;
  }
}

.attribution {
  position: fixed;
  bottom: 0;
  padding: 1rem 0;
  font-size: 11px;
  text-align: center;

  a {
    color: #3e52a3;
  }
}
