@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-cyan: #26baa4;
  --clr-light-blue: #6173ff;
  --clr-grey: #4c545d;
  --clr-grey-light: #9fabb2;
  --clr-white: #fff;

  --headingFont: 'Bai Jamjuree', sans-serif;
  --bodyFont: 'Bai Jamjuree', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--headingFont);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--clr-grey-light);
}

h1,
h2,
h3,
h4 {
  color: var(--clr-grey);
  font-weight: 600;
}

h1 {
  font-size: 4.2rem;
  letter-spacing: 1.2px;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

/*************************/
/** REUSABLE COMPONENTS **/
/*************************/

.container {
  max-width: 1280px;
  padding: 0 8rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  width: 22.7rem;
  height: 5.6rem;
  border-radius: 5rem;
  color: var(--clr-white);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.subtitle {
  max-width: 60%;
}

.center-v {
  text-align: center;
}

/*************************/
/**        HERO         **/
/*************************/

.hero-section {
  padding-top: 13rem;
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.logo,
h1,
h2,
.subtitle,
.snippets-desktop,
.access-img {
  grid-column: 1 / -1;
}

.logo {
  width: 12.5rem;
  height: 12.5rem;
}

h1 {
  margin-top: 5.5rem;
  margin-bottom: 1.2rem;
}

.hero-subtitle {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.btn-ios {
  background-color: var(--clr-cyan);
  margin-left: auto;
  margin-right: 0.5rem;
}

.btn-mac {
  background-color: var(--clr-light-blue);
  margin-right: auto;
  margin-left: 0.5rem;
}

/*************************/
/**      SNIPPETS       **/
/*************************/

.snippets-section {
  padding-top: 14.7rem;
}

.snippets-subtitle {
  line-height: 1.6;
  margin-bottom: 8rem;
}

.snippets-img {
  margin-left: -20rem;
}

.snippets-features {
  padding: 0 10rem;
  text-align: left;
}

.snippets-features__title {
  margin-bottom: 0.2rem;
}

.snippets-features div:not(:last-child) {
  margin-bottom: 6rem;
}

.snippets-features p {
  font-size: 1.6rem;
  line-height: 2;
}

/*************************/
/**       ACCESS        **/
/*************************/

.access-section {
  padding-top: 14.7rem;
}

.access-subtitle {
  line-height: 1.65;
  margin-bottom: 10rem;
}

/*************************/
/**     SUPERCHARGE     **/
/*************************/

.supercharge-section {
  padding-top: 6.9rem;
}

.supercharge-title,
.supercharge-subtitle {
  grid-column: 1 / -1;
}

.supercharge-section .container {
  column-gap: 4rem;
  align-items: start;
}

article {
  flex-direction: column;
  margin-top: 7.5rem;
}

article h3 {
  margin-bottom: 1.2rem;
}

article p {
  font-size: 1.6rem;
  line-height: 1.8;
}

.icon {
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 4.3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
